/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 .sq_sd_table {
    width: 100%;
    margin: auto;
 }

 .sq_fields_and_labels{
     display: flex;
     margin: 5px;
     /* width: 50%; */
 }
 .sq_fields_and_labels label{
     text-align: left
 }
 .sq_fields_and_labels select{
     padding: 5px;
     width: 150px;
 }
 .sq_fields_and_labels input{
     /* padding: 5px; */
     width: 150px;
 }
 .sq_fields_and_labels .field-label{
     width: 30%;
 }
 .sq_fields_and_labels .field-label{
     width: 30%;
 }
 .sq_squiggles_damage_inputs{
     display: flex;
     margin: 8px 0px;
 }

 .sq_squiggles_damage_inputs .email_and_img{
    display: flex;
    width: 50%;
 }
 .sq_squiggles_damage_inputs .email_and_img input{
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c5c4c9;
    margin: 0px 11px;
    width: 50px;
 }
 .sq_squiggles_damage_inputs .email_and_img button{
    padding: 7px;
    margin: 0px 8px;
    cursor: pointer;
    border: 1px solid #2271b1;
    border-radius: 10px;
    color: #2271b1;
 }

@media (max-width: 768px) {
   .sq_squiggles_damage_inputs{
      display: unset;
   }
}

